In [21]:
import pandas as pd
import numpy as np
import os
import sys
import re
import keyword
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity =  "all"

In [22]:
data_h1 = pd.read_excel('./国家知识产权局数据/2018/h1.xlsx')
data = data_h1.iloc[4:,1:5]
data.head()

         0                       1     2     3
4       北京  总累计 Accumulated Number  1067   966
5  Beijing                    2018   297   304
6       天津  总累计 Accumulated Number   535   529
7  Tianjin                    2018   121   116
8       河北  总累计 Accumulated Number  2848  2691

In [23]:
data.columns =['地区', '年份', '立案', '结案']
data.head()

        地区                      年份    立案    结案
4       北京  总累计 Accumulated Number  1067   966
5  Beijing                    2018   297   304
6       天津  总累计 Accumulated Number   535   529
7  Tianjin                    2018   121   116
8       河北  总累计 Accumulated Number  2848  2691

In [24]:
data[data['年份']=='2018']

                地区    年份     立案     结案
5          Beijing  2018    297    304
7          Tianjin  2018    121    116
9            Hebei  2018    809    695
11          Shanxi  2018     43     35
13  Inner Mongolia  2018     22     30
15        Liaoning  2018    608    610
17           Jilin  2018    136    132
19    Heilongjiang  2018    383    368
21        Shanghai  2018    260    244
23         Jiangsu  2018   2078   1997
25        Zhejiang  2018  13013  13043
27           Anhui  2018   1162   1089
29          Fujian  2018   1105   1047
31         Jiangxi  2018    164     51
33        Shandong  2018   1475   1452
35           Henan  2018   1682   1736
37           Hubei  2018    781    708
39           Hunan  2018    932    859
41       Guangdong  2018   3974   3868
43         Guangxi  2018     66     66
45          Hainan  2018      6      2
47       Chongqing  2018    472    472
49         Sichuan  2018   3037   3028
51         Guizhou  2018     17     21
53          Yunnan  2018     39     34
55           Tibet  2018      0      0
57         Shaanxi  2018    190    150
59           Gansu  2018    350    327
61         Qinghai  2018      0      0
63         Ningxia  2018     37     31
65        Xinjiang  2018    717    741

In [26]:
#获取2018年数据的索引
data_2018 = data[data['年份']=='2018'].copy()
data_2018_idx = data[data['年份']=='2018'].index.to_numpy() - 1

#构建索引和数据对应字典数据
loc_idx  = data.loc[data_2018_idx]['地区'].to_list()
loc = data_2018['地区'].to_list()
dic_loc = dict(zip(loc,loc_idx))

# 将地区这一列数据改为对应的中文，并将地区设置为index
data_2018['地区'] = data_2018['地区'].apply(lambda x : dic_loc[x])
data_2018.set_index(["地区"], inplace=True)
data_2018.drop( columns=['年份'],inplace=True)
data_2018.head()

      立案   结案
地区
北京   297  304
天津   121  116
河北   809  695
山西    43   35
内蒙古   22   30

In [27]:
#计算结案与立案的比值，变量名为结案/立案（或结案率）
data_2018['结案/立案'] = data_2018['结案'].astype('int')/ data_2018['立案'].astype('int')
data_2018.head()

      立案   结案     结案/立案
地区
北京   297  304  1.023569
天津   121  116  0.958678
河北   809  695  0.859085
山西    43   35  0.813953
内蒙古   22   30  1.363636

In [28]:
#数据存储
data_2018.to_excel("data_2018.xlsx", index=False)

# 二、统计各地区每年查处执法假冒量

In [38]:
#读入数据，数据为h5.xls（各地区查处假冒专利执法统计表（一））
data_h5 = pd.read_excel('./国家知识产权局数据/2018/h5.xlsx',index_col=0,header=1,usecols=[0,1,3],skiprows=[1,3])
data_h5.head()

  地区 Regions  假冒数量 Accumulated Number
1
3         北京                     1249
4         天津                      268
5         河北                      534
6         山西                      163
7        内蒙古                      380

In [39]:
#重命名列名，重设索引值，将数据保存到excel
data_h5.columns = ['地区','假冒数量']
data_h5 = data_h5.set_index('地区')
data_h5.head()
data_h5.to_excel("data_h5.xlsx")

     假冒数量
地区
北京   1249
天津    268
河北    534
山西    163
内蒙古   380

# 三、地区专利情况： 各地区3种专利的申请量、有效量，发明专利授权量/申请量，发明专利/(发明+实用新型)

In [46]:
#1.读入数据，用a4（国内三种专利申请量），b3（国内三种专利申请授权量），c2（国内三种专利有效量）并选择需要的行和列，分别存入df1、df2、df3申请量：
df1 = pd.read_excel('./国家知识产权局数据/2018/a4.xlsx',index_col=0,header=1,usecols=[0,1,3,4,5],skiprows=[1,3])
df2 = pd.read_excel('./国家知识产权局数据/2018/b3.xlsx',index_col=0,header=1,usecols=[0,1,6,7,8],skiprows=[1,3])
df3 = pd.read_excel('./国家知识产权局数据/2018/c2.xlsx',index_col=0,header=1,usecols=[0,1,4,5,6],skiprows=[1,3])
df1.head()
df2.head()
df3.head()

  地 区Regions  发明  Invention  实用新型  Utility Model  外观设计  Design
1
3         北京         117664                70507         23041
4         天津          26661                66535          5842
5         河北          18954                51171         13660
6         山西           9395                15788          1923
7        内蒙古           3757                11051          1618

  地区  Regions  发明  Invention.1  实用新型  Utility Model.1  外观设计  Design.1
1
3          北京            46978                  59219           17299
4          天津             5626                  44683            4371
5          河北             5126                  36210           10558
6          山西             2284                  11258            1518
7         内蒙古              864                   7530            1231

  地区 Regions  发明  Invention  实用新型  Utility Model  外观设计  Design
1
3         北京         241282               263909         64738
4         天津          32066               123971         12842
5         河北          24939               103668         31357
6         山西          12983                34782          5084
7        内蒙古           5076                20238          4182

In [47]:
#2.重新设置df1、df2、df3的列名
df1.columns = ['地区','发明_申请量','实用新型_申请量','外观设计_申请量']
df2.columns = ['地区','发明_授权量','实用新型_授权量','外观设计_授权量']
df3.columns = ['地区','发明_有效量','实用新型_有效量','外观设计_有效量']
df1.head()
df2.head()
df3.head()

    地区  发明_申请量  实用新型_申请量  外观设计_申请量
1
3   北京  117664     70507     23041
4   天津   26661     66535      5842
5   河北   18954     51171     13660
6   山西    9395     15788      1923
7  内蒙古    3757     11051      1618

    地区  发明_授权量  实用新型_授权量  外观设计_授权量
1
3   北京   46978     59219     17299
4   天津    5626     44683      4371
5   河北    5126     36210     10558
6   山西    2284     11258      1518
7  内蒙古     864      7530      1231

    地区  发明_有效量  实用新型_有效量  外观设计_有效量
1
3   北京  241282    263909     64738
4   天津   32066    123971     12842
5   河北   24939    103668     31357
6   山西   12983     34782      5084
7  内蒙古    5076     20238      4182

In [48]:
#3.将df1、df2、df3合并存入df
df = pd.concat([df1,df2,df3],axis=1)
#设置索引
temp_idx = df['地区'].iloc[:,0]
df = df.set_index(temp_idx)
#删除地区
df = df.drop(['地区'], axis=1)
df.head()

,发明_申请量,实用新型_申请量,外观设计_申请量,发明_授权量,实用新型_授权量,外观设计_授权量,发明_有效量,实用新型_有效量,外观设计_有效量
地区,,,,,,,,,
北京,117664,70507,23041,46978,59219,17299,241282,263909,64738
天津,26661,66535,5842,5626,44683,4371,32066,123971,12842
河北,18954,51171,13660,5126,36210,10558,24939,103668,31357
山西,9395,15788,1923,2284,11258,1518,12983,34782,5084
内蒙古,3757,11051,1618,864,7530,1231,5076,20238,4182

In [49]:
#4.计算发明专利授权量/申请量，并填入df中。
df['专利授权率']=(df['发明_授权量']+df['实用新型_授权量']+df['外观设计_授权量'])/(df['发明_申请量']+df['实用新型_申请量']+df['外观设计_申请量'])
df.head()

,发明_申请量,实用新型_申请量,外观设计_申请量,发明_授权量,实用新型_授权量,外观设计_授权量,发明_有效量,实用新型_有效量,外观设计_有效量,专利授权率
地区,,,,,,,,,,
北京,117664,70507,23041,46978,59219,17299,241282,263909,64738,0.584702
天津,26661,66535,5842,5626,44683,4371,32066,123971,12842,0.552111
河北,18954,51171,13660,5126,36210,10558,24939,103668,31357,0.619371
山西,9395,15788,1923,2284,11258,1518,12983,34782,5084,0.555597
内蒙古,3757,11051,1618,864,7530,1231,5076,20238,4182,0.585961

In [50]:
#5.对申请量、授权量和有销量分别计算 发明专利/(发明+实用新型)，也填入df中，将df存入excel。
df['申请量比例']=df['发明_申请量']/(df['发明_申请量']+df['实用新型_申请量'])
df['授权量比例']=df['发明_授权量']/(df['发明_授权量']+df['实用新型_授权量'])
df['有效量比例']=df['发明_有效量']/(df['发明_有效量']+df['实用新型_有效量'])

df.head()

,发明_申请量,实用新型_申请量,外观设计_申请量,发明_授权量,实用新型_授权量,外观设计_授权量,发明_有效量,实用新型_有效量,外观设计_有效量,专利授权率,申请量比例,授权量比例,有效量比例,年份
地区,,,,,,,,,,,,,,
北京,117664,70507,23041,46978,59219,17299,241282,263909,64738,0.584702,0.625304,0.442367,0.477605,2018
天津,26661,66535,5842,5626,44683,4371,32066,123971,12842,0.552111,0.286075,0.111829,0.205503,2018
河北,18954,51171,13660,5126,36210,10558,24939,103668,31357,0.619371,0.270289,0.124008,0.193916,2018
山西,9395,15788,1923,2284,11258,1518,12983,34782,5084,0.555597,0.373069,0.168660,0.271810,2018
内蒙古,3757,11051,1618,864,7530,1231,5076,20238,4182,0.585961,0.253714,0.102931,0.200521,2018

In [51]:
# 6.将一、二、三中的三个数据表整合
df.to_excel("df.xlsx")
df_all = pd.concat([data_2018,data_h5,df],axis=1)
df_all.to_excel("df_all.xlsx")